/* CSS for All */
* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}

.img-responsive {
  width: 100%;
}

.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

.clearfix {
  clear: both;
  float: none;
}

.b {
  color: #b3293e;
  text-decoration: none;
}

a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background-color: #ff4757;
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.5rem;
}
.float-container {
  position: relative;
  margin-left: 10%;
}
.float-text {
  position: absolute;
  bottom: 40px;
  left: 100px;
}
fieldset {
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

.error {
  padding: 2%;
  color: red;
}
.success {
  padding: 2%;
  color: green;
}

/* CSSS for navbar section */

.logo {
  width: 15%;
  float: left;
}
.menu {
  line-height: 90px;
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-size: 20px;
  font-weight: bold;
}

/* CSS for Food SEarch Section */

.food-search {
  background-image: url(../images/cakemydaybg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8% 0;
}

.food-search input[type="search"] {
  border: 1px solid grey;
  border-radius: 5px;

  width: 50%;
  padding: 1%;
  outline: 1;
  background-color: #ffffff;
}

/* CSS for Categories */
.categories {
  padding: 4%;
}

.box-3 {
  width: 25%;
  height: 300px;
  float: left;
  margin: 4%;
}
.card-image {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #ff6b81;
}
.location-card-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #ff6b81;
}
.float-location {
  position: absolute;
  bottom: 250px;
  right: 100px;
}
.category-card-image {
  object-fit: cover;
  width: 280px;
  height: 280px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #ff6b81;
}

/* CSS for Food Menu */
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  width: 40%;
  margin: 1%;
  padding: 4%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 80px;
  height: 50px;
  float: left;
  align-content: center;
  align-content: flex-end;
}

.food-menu-desc {
  width: 60%;
  float: right;
  margin-left: 8%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
  font-weight: bold;
}

.food-diet {
  font-size: 1rem;
  color: rgb(114, 60, 128);
  font-weight: bold;
}

.btn-secondary {
  background-color: #7bed9f;
  padding: 1%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: #2ed573;
}

/* CSS for Social */
.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
  padding: 1%;
}

/* for Order Section */
.order {
  width: 50%;
  margin: 0 auto;
}
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label {
  margin-bottom: 1%;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 80%;
    float: none;
    margin: 1% auto;
  }

  .menu ul {
    text-align: center;
  }

  .food-search input[type="search"] {
    width: 90%;
    padding: 2%;
    margin-bottom: 3%;
  }

  .btn {
    width: 91%;
    padding: 2%;
  }

  .food-search {
    padding: 10% 0;
  }

  .categories {
    padding: 20% 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
  }

  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .social {
    padding: 5% 0;
  }
  .order {
    width: 100%;
  }
}
